.carousel {
    padding: 0;
}

.carousel {
    max-height: 675px;
}

.carousel img {
    object-fit: cover;
    height: 675px;
}

.under_carousel {
    padding-top: 100px;
}

.element-animation {
opacity: 0;
transform: translateY(20px);
}
  
.element-animation.element-show {
opacity: 1;
transition: all 2s;
transform: translateY(0%);
}

body {
    background: linear-gradient(135deg, rgba(255,137,16,1) 0%, rgba(182,61,236,1) 35%, rgba(236,61,223,1) 70%, rgba(102,61,236,1) 100%);
}

.images {
    border-radius: 50%;  /* Скругление углов изображения */
}
 
